<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Modules" value=""/>
    <add key="ImportedModules" value=""/>
    <add key="NewVersionServer" value=""/>
    <add key="EnableDiagnosticActions" value="False"/>

    <!--Possible Values: ActiveDirectory, ADFS -->
    <add key="AuthenticationMode" value ="ActiveDirectory"/>
    <!-- Creates automatically for new users. If it is false, it will create a CandidateUser for new users.-->
    <add key="CreateUserAutomatically" value ="true"/>
    <!--
    Use the one of predefined values: None, ApplicationFolder, CurrentUserApplicationDataFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="Languages" value="de;es;ja;ru"/>
    -->
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LocalTralus_DEV;Integrated Security=True;App=Tralus" providerName="System.Data.SqlClient"/>
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=Tralus.Shell.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics><switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3"/>
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
