<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="ImportedModules" value="Selonia.Accounting" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="AuthenticationMode" value="ActiveDirectory" />
    <add key="CreateUserAutomatically" value="true" />
    <!--<add key="Languages" value="fa-IR;fa" />-->
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Tralus;Integrated Security=True;App=Tralus" providerName="System.Data.SqlClient"/>
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=Tralus.Shell.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics><switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3"/>
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
