<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImportedModules" value="Tralus.Infrastructure"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=(localdb)\TralusInstance;Initial Catalog=LocalTralus_DEV;Integrated Security=True;App=Tralus" providerName="System.Data.SqlClient"/>
    <add name="FlightAppsDb" connectionString="data source=swmhndevappssql;initial catalog=FlightApps_Dev;persist security info=True;user id=MahanAppsServiceAccount;password=a45V6DPQZAHUpXz;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>