<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImportedModules" value="Tralus.Infrastructure"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LocalTralus_DEV;Integrated Security=True;App=Tralus" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
