<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Default"
      connectionString="__CONNECTION_STRING__"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ConnectionString"
      connectionString="__CONNECTION_STRING__"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ImportedModules"
      value="__IMPORTED_MODULES__"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="AuthenticationMode"
      value="__AUTHENTICATION_MODE__"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="CreateUserAutomatically"
      value="__CREATE_USER_AUTOMATICALLY__"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ApplicationStyle"
      value="__APPLICATION_STYLE__"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Port"
      value="__PORT__"
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ServiceName"
         value="__SERVICE_NAME__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="DisplayName"
         value="__DISPLAY_NAME__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Description"
         value="__DESCRIPTION__"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.diagnostics>
    <switches>
      <add name="eXpressAppFramework"
      value="__LOG_LEVEL__"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </switches>
  </system.diagnostics>
  
</configuration>